/** Write your CSS in here **/
body {
    background-color: burlywood;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    height: auto;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
