/** Write your CSS in here **/
body {
    background-color: brown;
    font-family: "Bad Script";
    color: darkolivegreen;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bad-script-regular {
    font-family: "Bad Script";
    color: brown;
    font-size: 2.5em;
    font-weight: 400;
    font-style: italic;
}

.bad-script-small {
    font-family: "Bad Script";
    color: darkolivegreen;
    font-size: 1.8em;
    font-weight: 400;
    font-style: italic;
    text-align: right;
    margin-top: -50px;
}

.quote-icon {
    font-size: 1.5em;
    color: brown;
    vertical-align: middle;
    margin-right: 0.2em;
    font-style: italic;
}

.container {
    background-color: burlywood;
    padding: 48px 32px 32px 32px;
    text-align: center;
    border-radius: 16px;
    box-shadow: 0 36px 24px rgba(60, 40, 20, 0.1);
    min-width: 400px;
    max-width: 90vw;
}

#new-quote {
    background-color: brown;
    color: burlywood;
    font-family: "Bad Script";
    font-size: 1.2em;
    text-align: center;
    border-radius: 16px;
    box-shadow: 0 6px 24px rgba(60, 40, 20, 0.1);
    margin-left: 300px;
    float: right;
}

.toggle-switch {
    font-size: 1.2em;
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-top: 20px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    cursor: pointer;
}
