/** Write your CSS in here **/
body {
    background-color: burlywood;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    height: auto;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
