/** Write your CSS in here **/
body {
    background-color: burlywood;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
