/** Write your CSS in here **/
body {
    background-color: burlywood;
    font-family: "Bad Script";
    color: darkolivegreen;
    height: auto;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bad-script-regular {
    font-family: "Bad Script";
    color: brown;
    font-size: 2.5em;
    font-weight: 400;
    font-style: italic;
}

.bad-script-small {
    font-family: "Bad Script";
    color: darkolivegreen;
    font-size: 1em;
    font-weight: 400;
    font-style: italic;
}

.quote-icon {
    font-size: 1.5em;
    color: brown;
    vertical-align: middle;
    margin-right: 0.2em;
    font-style: italic;
}
