/** Write your CSS in here **/
body {
    background-color: burlywood;
    font-family: "Bad Script";
    height: auto;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bad-script-regular {
    font-family: "Bad Sript";
    font-weight: 400;
    font-style: italic;
}
